# a ".env.example" file is used so that, if a person tries to use the project, they can do so
#, while I keep private info in the ".env" file which is ignored by git

APP_NAME="mini-rag"
APP_VERSION="0.1"

FILE_ALLOWED_EXTENSIONS=
FILE_MAX_SIZE=10 # 10 MBs
FILE_DEFAULT_CHUNK_SIZE=512000 # 512 KBs

MONGODB_URL=
MONGODB_DATABASE="mini-rag"

# ---------------------------------------- LLM ---------------------------------------- 
GENERATION_BACKEND=
EMBEDDING_BACKEND=

OPENAI_API_KEY="" 
OPENAI_API_URL=
COHERE_API_KEY=""

GENERATION_MODEL_ID=
EMBDEDING_MODEL_ID=
EMBDEDING_MODEL_SIZE=

GENERATION_DEFUALT_TEMPERATURE= 1.0
DEFUALT_GENERATION_MAX_CHAR= 1000
DEFAULT_INPUT_MAX_CHAR=1000